<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item *ngFor="let view of views">
        <span md-line>{{view.name}}</span>
        <span md-line class="secondary">{{view.description}}</span>
      </a>
    </md-nav-list>
  </md-sidenav>
   <md-toolbar color="primary">
     <button md-icon-button (click)="sidenav.open()">
       <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
  <div class="form">
    <md-card>
      <md-card-title>Pension Pre Retirement Calculator</md-card-title>
      <md-card-content>
        <div>
          <form>
            <md-input [(ngModel)]="pension.currentBalance" type="number" placeholder="Current Balance"></md-input>
            <md-input [(ngModel)]="pension.personalContribution" type="number" placeholder="Personal Monthly Contribution"></md-input>
            <md-input [(ngModel)]="pension.employerContribution" type="number" placeholder="Employer Monthly Contribution"></md-input>
            <md-input [(ngModel)]="pension.growthRate" type="number" placeholder="Growth Rate (1% = 0.01)" max="1" min="0" step="0.01"></md-input>
            <md-input [(ngModel)]="pension.inflationRate" type="number" placeholder="Inflation Rate (1% = 0.01)"></md-input>
            <md-input [(ngModel)]="pension.currentAge" type="number" placeholder="Current Age"></md-input>
            <md-input [(ngModel)]="pension.retirementAge" type="number" placeholder="Retirement Age"></md-input>
          </form>
        </div>
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button color="accent" (click)="calculateBalance(pension)">Calculate</button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="card-container" *ngIf="isCalculated">
    <md-card>
      <md-card-title>Pension Details</md-card-title>
      <md-card-content>
        Your pension will be worth {{pension.finalBalance}} at age {{pension.retirementAge}}.
      </md-card-content>
    </md-card>
    <md-card>
    <md-card-title>Yearly Break Down</md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let year of yearlyAmounts">
          <h3 md-line>End of Year {{year.period}}</h3>
          <p md-line>Pension Pot: {{year.potValue}}</p>
          <p md-line>Yearly Pot Growth: {{year.growth}}</p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  </div>
</md-sidenav-layout>