<div class="card-container" *ngIf="debtFreeCalc">
    <md-card>
      <md-card-title>Debt Free Date</md-card-title>
      <md-card-content *ngIf="debtFreePossible">
        You will be debt free in {{monthsRemaining}} months.
      </md-card-content>
      <md-card-content *ngIf="!debtFreePossible">
        You do not pay enough to cover the interest on your loans. You will never be debt free.
      </md-card-content>
    </md-card>
  </div>

<md-list>
  <md-list-item *ngFor="let debt of debts">
    <md-card>
      <h3 md-line>{{debt.index}}</h3>
      <div class="form" id="infoForm" span="display: block">
        <form>
          <md-input [(ngModel)]="debt.name" placeholder="Name of debt" item-width="50%"></md-input>
          <md-input [(ngModel)]="debt.amount" placeholder="Amount owed" item-width="50%" type="number"></md-input>
          <md-input [(ngModel)]="debt.interestRate" placeholder="Interest Rate" type="number"></md-input>
          <md-input [(ngModel)]="debt.monthlyPayment" placeholder="Monthly Payment" type="number"></md-input>
        </form>
      </div>
    </md-card>
  </md-list-item>


  <md-card>
    <md-card-actions align="end">
      <button md-fab-button (click)="addMoreDebt()">+</button>
      <button md-raised-button color="accent" (click)="calcDebtFree()">Calculate</button>
    </md-card-actions>
  </md-card>


