<!--Form Stage 2 - Income-->
<div class="form" id="incomeForm" style="display: flex">
  <md-card>
    <md-card-title>Your Income Information</md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let income of incomes">

          <h3 md-line>Line</h3>
          <div class="form" id="infoForm" span="display: block">
            <form>
              <md-input placeholder="Name of debt" item-width="50%"></md-input>
              <md-input placeholder="Amount owed" item-width="50%" type="number"></md-input>
              <md-input placeholder="Interest Rate" type="number"></md-input>
              <md-input placeholder="Monthly Payment" type="number"></md-input>
            </form>
          </div>

        </md-list-item>
      </md-list>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="accent" (click)="prevForm()">Back</button>
      <button md-raised-button color="accent">Next</button>
    </md-card-actions>
  </md-card>
</div>