<div> {{ (af.auth | async)?.uid }}</div>
<button *ngIf="!(af.auth | async)" (click)="login()">Login</button>
<button *ngIf="(af.auth | async)" (click)="logOut()">Logout</button>
<div class="card container" style="flex" *ngIf="(af.auth | async)">
  <md-card *ngFor="let period of periods">
    <md-card-title>Month {{period.periodPosition.period}}</md-card-title>
    <md-card-content>
      <ul>
          <li>Total Income: {{period.periodPosition.totalIncome}}</li>
          <li>Total Outgoings: {{period.periodPosition.totalOutgoings}}</li>
          <li>Total Excess Cash: {{period.periodPosition.totalExcessCash}}</li>
          <li>Total Asset Value: {{period.periodPosition.totalAssetValue}}</li>
          <li>Total Debt Value {{period.periodPosition.totalDebtValue}}</li>
          <li>Net Worth: {{period.periodPosition.netWorth}}</li>
      </ul>
      <input [(ngModel)]="period.periodPosition.totalIncome" type="text" />
    </md-card-content>
  </md-card>
</div>
<!--<div class="card container" style="flex" *ngIf="(af.auth | async)">
  <md-card *ngFor="let asset of periods.assets">
    <md-card-title>Period {{asset.period}</md-card-title>
    <md-card-content>
      <ul>
          <li>Total Income: {{period.periodPosition.totalIncome}}</li>
          <li>Total Outgoings: {{period.periodPosition.totalOutgoings}}</li>
          <li>Total Excess Cash: {{period.periodPosition.totalExcessCash}}</li>
          <li>Total Asset Value: {{period.periodPosition.totalAssetValue}}</li>
          <li>Total Debt Value {{period.periodPosition.totalDebtValue}}</li>
          <li>Net Worth: {{period.periodPosition.netWorth}}</li>
      </ul>
    </md-card-content>
  </md-card>
</div>-->
